 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
 }

 @media (min-width: 768px) {
     .bd-placeholder-img-lg {
         font-size: 3.5rem;
     }
 }

 html,
 body {
     height: 100%;
 }

 body {
     display: flex;
     align-items: center;
     padding-top: 40px;
     padding-bottom: 40px;
     background: #1d222c !important;
     background-repeat: no-repeat;
    }
    
    .form-signin {
        width: 100%;
        max-width: 450px;
        padding: 15px;
        margin: auto;
        background: #fff;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
 }

 .form-signin .checkbox {
     font-weight: 400;
 }

 .form-signin .form-floating:focus-within {
     z-index: 2;
 }

 .form-signin input[type="email"] {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }

 .form-signin input[type="password"] {
     margin-bottom: 10px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }
 .copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p {
    color: #000;
}
.copyrightText a {
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}