* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p {
    font-weight: 300;
    color: #111;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0,05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo {
    color: #111;
}
header .logo span {
    color: #0d6efd;
}
header .navigation {
    position: relative;
    display: flex;

}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a {
    color: #111;
}
header .navigation li a:hover {
    color: #0d6efd;
}
section {
    padding: 100px;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.row .col50 {
    position: relative;
    width: 48%;
}
.bd-01 {
	margin-top:20px;
    color: #bcd0f7;
    background: #1A233A;
    position: relative;
    height: 100%;
}
.pricing-plan {
    margin: 0 0 1rem 0;
    width: 100%;
    position: relative;
    background: #272e48;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pricing-plan .pricing-header {
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}
.pricing-plan .pricing-header .pricing-title {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}
.pricing-plan .pricing-header .pricing-cost {
    color: #ffffff;
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}
.pricing-plan .pricing-header .pricing-save {
    color: #ffffff;
    padding: 0.8rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.pricing-plan .pricing-header.secondary {
    background-image: linear-gradient(120deg, #c0d64a 0%, #35690f 100%);
}
.pricing-plan .pricing-header.red {
    background-image: linear-gradient(120deg, #ff3434 0%, #a50000 100%);
}
.pricing-plan .pricing-features {
    padding: 0;
    margin: 20px 0;
    text-align: left;
}
.pricing-plan .pricing-features li {
    padding: 15px 15px 15px 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    line-height: 100%;
}

.pricing-plan .pricing-footer {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
.copyrightText {
    padding: 8px 40px;
    text-align: center;
}
.copyrightText p {
    color: #fff;
}
.copyrightText a {
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}
@media (max-width: 767px) {
    .pricing-plan .pricing-header {
        text-align: center;
    }
    .pricing-plan .pricing-header i {
        display: block;
        float: none;
        margin-bottom: 1.5rem;
    }
		header,
		header.sticky 
		{
			padding: 10px 20px;
		}
		header .navigation
		{
			display: none;
		}
		header .navigation.active {
			width: 100%;
			height: calc(100% - 68px);
			position: fixed;
			top: 68px;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background: #fff;
		}
		header .navigation li {
			margin-left: 0;
		}
		header .navigation li a {
			color: #111;
			font-size: 1.6em;
		}
		.menuToggle {
			position: relative;
			width: 40px;
			height: 40px;
			background: url(../img/menu.png);
			background-size: 30px;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
		}
		.menuToggle.active {
			background: url(../img/close.png);
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: center;
		}
		header.sticky .menuToggle {
			filter: invert(1);
		}
		section {
			padding: 20px;
		}
	
}