.ranking {
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    justify-content: center !important;
    align-items: center !important;
}

.podium {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 0.25rem;
}

.card-podium {
    align-items: center;
}

body {
    text-align: left;
    background: url(../img/background.png);
    background-repeat: no-repeat;
}