.ranking {
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
    background: #1d222c;
    background-repeat: no-repeat;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    justify-content: center !important;
    align-items: center !important;
}

.podium {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 0.25rem;
}

.card-podium {
    align-items: center;
}

body {
    text-align: left;
    background: #1d222c;
}
.copyrightText {
    padding: 8px 40px;
    text-align: center;
}
.copyrightText p {
    color: #fff;
}
.copyrightText a {
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}