* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p {
    font-weight: 300;
    color: #111;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0,05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo {
    color: #111;
}
header .logo span {
    color: #0d6efd;
}
header .navigation {
    position: relative;
    display: flex;

}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a {
    color: #111;
}
header .navigation li a:hover {
    color: #0d6efd;
}
section {
    padding: 100px;
}
body {
    background-color: #23282c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-white {
    background-color: #fff;
    border-color: #e7eaf3;
}

.radius-15 {
    border-radius: 15px;
}

.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}

.bg-info {
    background-color: #0dcaf0 !important;
}

.bg-primary {
    background-color: #008cff !important;
}

.bg-danger {
    background-color: #fd3550 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-primary-1 {
    background-color: #f30899 !important;
}
@media(max-width: 767px) {
    header,
		header.sticky 
		{
			padding: 10px 20px;
		}
		header .navigation
		{
			display: none;
		}
		header .navigation.active {
			width: 100%;
			height: calc(100% - 68px);
			position: fixed;
			top: 68px;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background: #fff;
		}
		header .navigation li {
			margin-left: 0;
		}
		header .navigation li a {
			color: #111;
			font-size: 1.6em;
		}
		.menuToggle {
			position: relative;
			width: 40px;
			height: 40px;
			background: url(../img/menu.png);
			background-size: 30px;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
		}
		.menuToggle.active {
			background: url(../img/close.png);
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: center;
		}
		header.sticky .menuToggle {
			filter: invert(1);
		}
		section {
			padding: 20px;
		}
	
}
